header,
footer {
  background-color: rgb(243, 208, 167);
  padding: 0.2rem;
  text-align: center;
  padding: 0.5rem 2%;
  margin: auto;
  border-radius: 15px;
}

body {
  padding: 0.5rem 2%;
}

main {
  margin: 3rem;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem 3rem;
  margin: 0 2rem;
}

main h1,
h2 {
  text-align: center;
  border-style: solid;
  border-color: rgb(148, 199, 148);
  background-color: rgb(207, 228, 188);
  padding: 1rem;
}

h2 {
  border-color: rgb(231, 220, 118);
  background-color: rgb(244, 245, 209);
  padding: 0.3rem;
}

img {
  width: 100%;
  grid-column: 1/2;
}

p {
  grid-column: 2/3;
}
